CONFIG_REVLINK_USB_ROOT_PORT_POWER=y
CONFIG_REVLINK_USB_IDLE_RELEASE_ACCEPTANCE=y
# CONFIG_REVLINK_USB_INTERFACE_CLAIM_ACCEPTANCE is not set
# CONFIG_REVLINK_ALLOW_DEVICE_WRITES is not set
# CONFIG_REVLINK_SD_FORMAT_ACCEPTANCE is not set
